html {
  background-image: url(/GeoPat.jpg);
  font-family: "Vibes";
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: bisque;
  width: 50%;
  padding-bottom: 5em;
  margin-top: 3em;
  border: 2em solid;
  text-align: center;
}

header {
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 6em;
  font-weight: 700;
  text-shadow: 4px 4px 4px seagreen;
}

#clock {
  display: flex;
  font-family: Play;
  font-weight: 800;
  font-size: 5em;
  text-align: center;
  margin: 0 auto;
  border: 10px solid;
  width: 2em;
  height: 2em;
  padding: 2em;
  border-radius: 50%;
  box-shadow: 10px 10px 50px seagreen;
  justify-content: center;
}
