html {
  background-image: url(/GeoPat2.jpg);
  font-family: "Vibes";
  display: flex;
  justify-content: center;
  --primary: rgb(80, 151, 139);
  --secondary: rgb(238, 99, 123);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: bisque;
  width: 50%;
  padding-bottom: 5em;
  margin-top: 3em;
  border: 2em solid;
  text-align: center;
  margin: 2em;
}

header {
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 6em;
  font-weight: 700;
  text-shadow: 4px 4px 4px var(--primary);
}

#clock {
  background-color: var(--secondary);
  display: flex;
  font-family: Play;
  font-weight: 800;
  font-size: 5em;
  text-align: center;
  margin: 0 auto;
  border: 10px solid;
  width: 2em;
  height: 2em;
  padding: 2em;
  border-radius: 30%;
  box-shadow: 20px 20px 100px var(--primary);
  justify-content: center;
}
